.row {
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  
  .column {
    flex: 1; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  
  .column img {
    width: 100%; 
    max-width: 600px; 
    height: auto; 
    margin: 10px;
  }
  
  nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: 3E5880;
}

nav a:hover, nav a:focus {
    color: #000;
}

body {
    background-color: #FFF7F7;
}
